╔══════════════════════════════════════════════════╗
║      BEM-VINDO AO SERVIDOR {{ inventory_hostname }}       ║
║      Gerenciado pelo FLAUTISTA: {{ admin }}            ║
║      Data: {{ lookup('pipe', 'date +%Y-%m-%d') }}      ║
╚══════════════════════════════════════════════════╝
